* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    background: url(images/banner.webp);
    height: 550px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

.top-content {
    background: linear-gradient(to top right, #00000069, #000000a6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-text {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;

}

.top-content {
    text-align: center;
}

.top-content p {
    color: #dfd7d7;
    padding-bottom: 25px;
}

.link-button {
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(#E74C3C, #E74C3C);
}

.donate-today {
    padding-top: 80px;
    margin-bottom: 70px;
}

.donate-text {
    text-align: center;

}

.donate-text h1 {
    font-size: 38px;
    padding-bottom: 5px;
    color: darkgoldenrod;

}

.donate-text p {
    color: #726666;
}

.donate-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.donate-list li {
    margin-left: 40px;
    font-size: 26px;
    font-weight: 900;

}

.color-border {
    padding: 30px 20px;
    border: 2px solid tomato;
    border-radius: 5px;
    background-color: #ff634721;
    color: red;
    margin-bottom: 50px;
}

.list-sizing {
    padding-top: 33px;
    color: #726666;
}

#p-color {
    color: #726666c7;
    text-align: center;
    padding-bottom: 8px;
}

.donate-button hr {
    margin-left: 375px;
}

#button-sizing {
    text-align: center;
    padding-top: 40px;
}

.donate-contant {
    display: flex;
    width: 100%;
    margin-left: 2%;
}

.donate-text1 {
    margin-left: 50px;
    padding: 30px 30px;
}

.donate-plan {
    margin-bottom: 70px;
}

.color {
    background-color: #ffefef;
}

.color1 {
    background-color: #fde8e8;
    ;
}

.color2 {
    background-color: #ffffc6;
    ;
}

.donate-plan h1 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 36px;
    font-weight: 900;
    color: #227093;
}

.donate-plan p {
    text-align: center;
    padding-bottom: 15px;
    color: #9d9d9d;
}

.donate-text1 {
    height: 260px;
    width: 300px;
}

.donate-text1 p {
    text-align: justify;
}

.submit-form{
 text-align:center;
}
.submit-button{
    height:150px;
    width:700px;
    background: #ffffc6;
    margin:0 auto;
}
.input-sizing{
    padding-top: 55px;
    display:table;
    margin-left:165px;
}
.submit-button input{
    padding: 10px 10px;
    width: 200px;
    border:none;
    background: #e1e0e0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline:none;
}
.submit-button button{
    padding: 8px 35px;
    background: tomato;
    border: none;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor:pointer;
}
.submit-form{
    margin-bottom:100px;
}
.button{
    padding:10px 20px;
    background:red;
    color:white;
}
.submit-form p{
    padding-bottom:25px;
    padding-top:10px;
    color:#9d9d9d;
}
footer{
    height:170px;
    width:100%;
    background:black;
}
footer h1{
    color:#ef5f45;
    text-align:center;
    padding-top:25px;
    padding-bottom:8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
footer p{
    text-align:center;
    color:#9d9d9d;

}
.practice2{
    width:300px;
    background-color:orange;
    display:table;
}
.btn-sizing{
    margin-top:50px;
}
.latest-img {
    height: 80px;
    width: 80px;
    background: green;
    border-radius: 80px;
    margin: 0 auto;
}
.latest-contant{
    display: flex;
    width: 100%;
    justify-content: center;
}
.latest-services h1{
    text-align:center;
    margin-bottom: 50px;
    font-size:38px;
    color:#6a4e06;
}
.latest-services{
    margin-bottom:50px;
}

.latest-part1{
    
        height: 220px;
        width: 275px;
        margin-left:25px;
}

.h5{
    text-align:center;
    padding-top:25px;
    font-size:17px;
}
.latest-p{
    text-align:center;
}
.latest-part1 img{
    width: 50%;
    padding: 19px;
    
}